.dashboard__chart {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 50%;
}

.dashboard__form-column {
  display: flex;
  justify-content: flex-end;

  width: 50%;
}

.dashboard__download {
  align-self: flex-end;
}
