.dashboard__chart {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 60%;

  border-right: 2px solid var(--g-color-line-generic-solid);
}

.dashboard__form-column {
  width: 40%;
}

.dashboard__form {
  width: 300px;
}

#dashboad {
  margin: 10px;
}
