.area-settings {
  box-sizing: content-box;
  width: 340px;
  padding: 20px 32px;

  border: 1px solid var(--g-color-line-generic);
  border-radius: var(--g-border-radius-l);
}

.area-settings__name {
  padding: 2px 0;
}

.area-settings__color {
  width: 12px;
  height: 12px;

  border-radius: 50%;
}
